parameters:
    level: max

    paths:
        - src

    ignoreErrors:
        # I plan to handle this at a later date. Though, this should only happen if someone tries to json encode a URL
        # object that failed to parse its input.
        - '#Method Rowbot\\URL\\URL::toJSON\(\) should return string but returns string\|false\.#'

        -
            message: '#Call to function is_object\(\) with object will always evaluate to true\.#'
            path: src/URLSearchParams.php

        -
            message: '#Strict comparison using !== between 0 and 0 will always evaluate to false\.#'
            path: src/String/AbstractString.php

        -
            message: '#Method Rowbot\\URL\\Component\\QueryList::getIterator\(\) should return ArrayIterator<int, array<string, string>> but returns ArrayIterator<int, array<string, string>>\.#'
            path: src/Component/QueryList.php

        # Note to self: You can't escape single quotes in neon. Another possible alternative would be to replace single quotes with \x27.
        -
            message: "#Strict comparison using === between \\*NEVER\\* and '\\S+' will always evaluate to false\\.#"
            path: src/String/CodePoint.php

        -
            message: '#Variable property access on Rowbot\\URL\\URLRecord\.#'
            path: src/State/AuthorityState.php

        -
            message: '#Strict comparison using === between 0 and 0 will always evaluate to true\.#'
            path: src/Component/Host/Serializer/IPv6AddressSerializer.php

        # These are false positives since the GMP object supports using Arithmetic, Bitwise, and Comparison operators since PHP 5.6.
        -
            message: '#Comparison operation ">" between GMP and 255 results in an error\.#'
            path: src/Component/Host/IPv4AddressParser.php
        -
            message: '#(Binary|Comparison) operation "(>=|\*)" between GMP and \(float\|int\) results in an error\.#'
            path: src/Component/Host/IPv4AddressParser.php
